<?xml version='1.0'?>

<robot name="cnc_model">

    <link name="link">
        <collision>
            <origin xyz="0 0 0.6" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://cnc_description/mesh/cnc.stl" scale="0.008 0.008 0.008"/>
                <material name="my_gray">
                    <color rgba="${170/255} ${170/255} ${170/255} 1.0"/>
                </material>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0.6" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://cnc_description/mesh/cnc.stl" scale="0.008 0.008 0.008"/>
                <material name="my_gray">
                    <color rgba="${170/255} ${170/255} ${170/255} 1.0"/>
                </material>
            </geometry>
        </visual>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="600.0"/>
            <inertia ixx="0.0135" ixy="0.0" ixz="0.0" iyy="0.0135" iyz="0.0" izz="0.05"/>
        </inertial>
    </link>

    <gazebo> <static>true</static> </gazebo>

</robot>